$backcolor: rgb(47,79,79);
$txtcolor: rgb(95, 158, 160);


h3,p,input{
    font-family: 'Pacifico';
}
h1{
    font-family: New Tegomin; 
    text-shadow: 3px 3px 2px cadetblue;
}
#parah,a{
    font-family: New Tegomin;
    color:black;
}
nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    float: left;
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

h1{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
      }
a:hover{
    color:darkorange;
    text-decoration: none;
    }	  
input:hover{
    color:darkorange;
    text-decoration: none;
    }
#parah{
        padding: 18px;
        border: 10px solid black;
        margin: 10px;
        background-color: darkslategray;
    }
nav{
    background-color: darkslategray;
    overflow: hidden;
}

.contact{
    padding-right: 40px;
    padding-left: 40px;
}
#parah h4{
    color: black;
    text-align: center;
    font-weight: 700;
    font-size:larger;
    letter-spacing: 1.5px;
}
.about .text{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    margin: auto;
    text-shadow: 3px 3px 2px cadetblue;
}
.about .text p{
    color:cadetblue;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 25px;
    letter-spacing: 0.5px;
}