*{
	font-family: 'New Tegomino';
}
#collapsibleNavbar > ul > li:nth-child(n) > a{
    color:white;
    font-size: 1.1rem;
}
#collapsibleNavbar > ul > li:nth-child(n) > a:hover{
    color: darkorange;
}
#navbarjmp > a{
    font-size:1.4rem ;
    font-weight: 700;
}
#navbarjmp > a:hover{
    color: darkorange;
}

.about{
    background-color:black;
}
.about .text{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    margin: auto;
}
.about .text h4{
    color:cadetblue;
    font-weight: 700;
    font-size: 1 rem;
    letter-spacing: 1.5px;
}
.about .text p{
    color:cadetblue;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 25px;
    letter-spacing: 0.5px;
}
.work h4{
    color:black;
    text-align: center;
    font-weight: 700;
    font-size: 1 rem;
    padding: 25px;
    letter-spacing: 1.5px;
}
.edu{
    background-color:cadetblue;
}
.edu h4{
    color: black;
    text-align: center;
    font-weight: 700;
    padding: 25px;
    font-size: 1 rem;
    letter-spacing: 1.5px;
}
main{
    background-color: cadetblue;
}
.proj{
    padding-left:40px;
    padding-right: 40px;
}
.proj h4{
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 1 rem;
    padding: 25px;
    letter-spacing: 1.5px;
}
.achv{
    padding-right: 40px;
    padding-left: 40px;
}
.achv h4{ 
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 1 rem;
    padding: 25px;
    letter-spacing: 1.5px;
}
.contact{
    padding-right: 40px;
    padding-left: 40px;
}
.contact h4{
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 1 rem;
    padding: 25px;
    letter-spacing: 1.5px;
}

#parah{
    padding: 18px;
    border: 10px solid black;
    margin: 10px;
    background-color: darkslategray;
}
#parah p{
    color: white;
}
#parah a:hover{
    color: darkorange;
}
#parah a{
    color:darkred
}


.skill h4{
    color: black;
    text-align: center;
    font-weight: 700;
    padding: 25px;
    font-size: 1 rem;
    letter-spacing: 1.5px;
}

.skill{
    font-family: sans-serif;
    list-style: none;
    padding: 0;
    width: 500px;
    margin: 60px auto;
    color: white;
}
.skill li{
    margin: 20px 0;
}
#skill .bar{
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #ff0707b3;
}
#skill .bar span{
    height: 2px;
    float: left;
    background: #2187e7;
}
#skill .html{
    width: 90%;
    animation: html 25;
}
.skill .css{
    width: 90%;
    animation: css 25;
}
.bootstrap{
    width: 90%;
    animation: bootstrap 25;
}
@keyframes html {
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
}
@keyframes css {
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
}
@keyframes bootstrap {
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
}




